@use '../../assets/fonts/fonts_list.scss' as *;

.container {
	max-width: 563px;
	display: grid;
	align-items: center;
	justify-content: space-between;
}

.input_container {
	width: 440px;
	height: 52px;
	border: 1px solid var(--line-color);
	border-radius: 152px;
	margin-right: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--input);
	box-sizing: border-box;
	box-shadow: var(--box-shadow);
	&:focus-within {
		border-color: var(--decoration-color);
	}
	position: relative;
}

.button_xs {
	width: 64px;
	height: 40px;
	border-radius: 89px;
	border: 1px solid var(--line-color);
	border: 0.3px solid var(--decoration-color);
	background-color: #91e0c8;
	background-image: url(../../assets/images/search-icon_mobile.svg);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	&:hover {
		background-color: #3da083;
		color: white;
	}



}

.input {
	margin-left: 26px;
	max-width: 440px;
	height: 20px;
	padding-left: 38px;
	position: relative;

	@include font($sans, 18px, 20px, 0.18px);
	color: var(--text-color);
	border: 0;
	background-color: transparent;
	background-image: url('../../assets/images/search-icon.svg');
	background-repeat: no-repeat;
	background-size: 22px 22px;
	&::placeholder {
		@include font($sans, 18px, 20px, 0.18px);
		color: var(--placeholder);
		text-transform: none;
		opacity: 1;
		transition: opacity 0.3s ease;
	}

	&:focus {
		outline: none;
		background-image: url('../../assets/images/search-icon-active.svg');
	}
}

.input:focus::placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

@media screen and (max-width: 766px) {
	.input {
		background-image: none;
		padding-left: 0;
		&:focus {
			background-image: none;
		}
	
	}
	.input_container{
		height: 42px;
		max-width: 328px;
	}
	
}